<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>

<div>
    <h1>Football</h1>
    <div>
        <table border="1">
            <tr th:each="team : ${teams}">
                <td>
                    <a href="#" th:href="@{/teams/{id}(id=__${team.id}__)}" th:text="${team.name}"></a>
                </td>
                <td th:text="${team.players[0].name}"></td>
            </tr>
        </table>
        <br />
        <table border="1">
            <tr th:each="player : ${players}">
                <td>
                    <a href="#" th:href="@{/players/{id}(id=__${player.id}__)}" th:text="${player.name}"></a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
