<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>

<div>
    <h1>Football</h1>
    <form action="#" th:action="@{/add-player}" method="get">
        <label>Enter new player's name:</label>
        <input type="text" name="name" />
    </form>

    <form action="#" th:action="@{/delete-player}" method="get">
        <label>Enter player's id to delete:</label>
        <input type="text" name="id" />
    </form>
    <br />
    <div>
        <table border="1">
            <tr th:each="team : ${teams}">
                <td th:text="${team.id}"></td>
                <td>
                    <a href="#" th:href="@{/teams/{id}(id=__${team.id}__)}" th:text="${team.name}"></a>
                </td>
            </tr>
        </table>
        <br />
        <table border="1">
            <tr th:each="player : ${players}">
                <td th:text="${player.id}"></td>
                <td>
                    <a href="#" th:href="@{/players/{id}(id=__${player.id}__)}" th:text="${player.name}"></a>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>

</body>
</html>
